body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-size: 16px;
  --primary-color: #0f7173;
  --secondary-color: #0B4E4F;
  --error-color: #F05D5E;

  font-size: var(--font-size);
}